body{
    background-color:chartreuse;
    color:blue;
    font-family:"Playfair Display", serif;
    margin: 10px;

}

header{
    border-bottom: solid 10px chartreuse;
    padding:20px;
    font-size: 40px;
    color: chartreuse;

}
h1{
    font-size: 32px;
}

p{

font-size: 20px;
}

section{
    background-color: blue;
    padding-bottom: 80px;
padding-top: 80px;
justify-content: center;}
